.rcm-card-container {

    box-shadow: none !important;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    border-Top-left-radius: 25px !important;
    border-Top-right-radius: 25px !important;
    position: relative !important;
}

.rcm-card-time {
    transform: translateY(-35px) !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    position: absolute !important;
    top: 175px !important;
    padding: 5px 10px 5px 20px !important;
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
    backdrop-filter: blur(5px) !important;
    display: flex !important;
    gap: 8px !important;
    align-items: center !important;
}

.rcm-card-actions-container {
    position: absolute !important;
    top: 10px !important;
    right: 5% !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(5px) !important;
    border-radius: 25px !important;
}

.rcm-card-actions-container:hover {
    background-color: rgba(255, 255, 255, 0.9) !important;
}